
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-size: .35cm; 
    /* font-family:poppins; */
    font-family:roboto;
    /* font-family: cursive; */
}
*::-webkit-scrollbar{
    background-color: white;
    width: 5px;
}
*::-webkit-scrollbar-thumb{
    background-color: #32cda2;
    
}

body{
    /* background-color:#f5f5f5; */
    background-color:#c9f2ffbe;
}
.login_page{
    height: 100vh;
     background-image: url(../images/bot-pattern.svg);
    background-size: 100% 100%;
    color: white; 
}
.login-form{
    height: 90%;
    width: 60vh;
    border-radius: 10px;
    /* box-shadow: 3px 3px 10px grey; */
    /* background-color: rgba(245, 245, 245, 0.737); */
    background-color: white;
    color: black;
}
.login_image{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    
}
.header{
    /* background-color: #0B2D72; */
    /* background-color: #0AC4E0; */
    /* background-color: limegreen; */
    height: 7vh;
}
.logo img{
    height: 32px;
}

.content-body,.left_sidebar{
    height:93vh ;
}
.content-body{
    /* background-color: #cce3f8 ; */
    /* background-color: #fef8f2 ; */
    background-image: url(../images/bot-pattern.svg);
      overflow-y: auto;
}
.content-body::-webkit-scrollbar{
    width: 0px;
}
.left_sidebar{
    background-color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
}

.profile_view{
    display: none;
}
#profile:hover .profile_view{
display: block;
position: fixed;
margin-left: -170px;
height: 300px;
width: 200px;
background-color: white;
border-radius: 10px;
border: 1px solid grey;
}

a{
    text-decoration: none;
}
.masters a button{
text-decoration: none;
/* color: #cce3f8; */
color: rgb(178, 168, 168);
width: 95%;
transition: all ease-in-out .5s;

}
.masters a button:hover{
    background-color: rgba(128, 128, 128, 0.458);
    color: white;
    
}

.masters {
    list-style: none;
    height: 100%;
}
#show_sidebar{
    display: none;
}

#left_sidebar,.content-body,.naav,.logo{
    transition: .2s all ease-in-out;
  
    
}

.bi-people{
    font-size: .35cm;
}
.bi-person-circle{
    font-size: .35cm;
}
.bi-diagram-3{
    font-size: .35cm;
}
.table_area,.form_area,.client_form,#load_clients{
  height: calc(95vh - 178px);
  overflow-y: auto;
  padding: 0px;
  overflow-x: auto;

}
/* table tr:nth-child(even){
    background-color: #32cda2;
    padding: 10%;
} */
.form_area{
  height: calc(95vh - 98px);
}
.bg-skyblue{
    /* background-color: #0AC4E0; */
    /* background-color: limegreen; */
    /* background-color: #32cda2; */
    /* background-color: #002266; */
    background-color: #0F2854;
    color:white;
    
}
.bg-blue{
    background-color: #477dc3;
    color: white;
}
/* .logout{
    margin-top: auto;
    margin-left: -20px;
    width: 15%;
} */

.logout_form{
    bottom:20px;
    height: 100px;
    width: 15%;
    position: fixed;
    transition: .2s all ease-in-out;
    white-space: nowrap;
    overflow-x: hidden;

}
#logout{
    transition: .5s all ease-in-out;
}
.search-boxes{
    width: 10%;
}
.search-box input{
    width: 90%;
    height: 30px;
}
.search-box-last{
    width:18%;
}
.home-con-h{
    height: 30vh;
    
}
.modal{
    background:rgba(0, 0, 0, 0.767);
}
.sort{
height: 25px;
width: 10px;
padding: 0px;
background-color: transparent;
border: 0px;
}
.sort i{
    font-size: .2cm;
}
.holding-table{
    height: calc(80vh - 178px);
    overflow-x: auto;
    margin-bottom: 5px;
    /* background-color: red; */
}

.id{
    height: 40px;
    width: 100px;
    overflow-x: hidden;
    white-space: nowrap;
}
.name{
    width: 300px;
    overflow-x: hidden;
    white-space: nowrap;
}
.email{
     white-space: nowrap;
}
.phone{
     white-space: nowrap;
}
.address{
    width: 300px; white-space: nowrap;
}
.state{
    width: 180px; white-space: nowrap;
}
.city{
    width: 100px; white-space: nowrap;
}
.status{
    width: 100px; white-space: nowrap;
}
.action{
    width: 100px; white-space: nowrap;
}
.status-btn-green{
    height: 24px;
    border-radius:10px ;
    width: 70px;
    background-color: rgb(217, 255, 228);
    color: rgb(1, 95, 1);
    border-radius: 5px;

}
.status-btn-red{

    height: 25px;
    width: 80px;
    background-color: rgb(255, 243, 243);
    color: rgb(250, 67, 67);
    border-radius: 5px;

}
.sort i{
    display: none;
}
.sort:hover i{
display:inline-block;
}
table tr td{
    box-shadow: 0px 5px 10px grey;
    white-space: nowrap;
    overflow-x: auto;
}